In [80]:
import pandas as pd
import numpy as np

In [9]:
Part12007 = pd.read_csv("2007 Table 1.csv", header = None )
Part12007

,0,1,2,3,4,5,6,7
0,51 Le Neve Groves,114.6,101,Alan Eggers,48.8,151,Mark Carapiet,27.7
1,52 Norman Seckold,108.9,102,Mervyn Jacobson,47.2,152,Michael Gazal,27.7
2,53 Theodore Cheng,108.8,103,Greg Tate,47.0,153,Chip Goodyear,27.1
3,54 Rod Jones,108.4,104,Michael Goldsworthy,44.4,154,Bradley Dowe,26.6
4,55 Marcus Blackmore,103.2,105,Bill Ireland,44.3,155,John Gay,26.6
5,56 Robert Hance,102.9,106,Roy Lavis,44.0,156,Nathan Mahalingam,26.4
6,57 John Kirby,97.9,107,Andrew Banks,43.3,157,Gary Weiss,26.2
7,58 Robert Kirby,97.9,108,Neil Balnaves,42.4,158,Dominio Stevens,26.0
8,59 Graham Burke,97.9,109,Martin Rey,42.4,159,Nicholas Martin,25.9
9,60 Kim Robinson,97.3,110,Andrew Scott,42.3,160,John Jones,25.6
10,61 Robert Topfer,97.0,111,Philip Sidney,41.8,161,Paul Kopejtika,25.6
11,62 Richard Bell,96.8,112,Howard Brenchley,41.7,162,Peter Wade,24.7
12,63 John Young,96.2,113,Anthony Radford,41.5,163,Bruce McWilliam,23.8
13,64 Alex Brown,95.2,114,James Rothel,41.5,164,Mike Tilley,23.7
14,65 Andrew Bassat,94.5,115,Rod Lamb,40.6,165,Leon Pretorius,23.4
15,66 Paul Bassat,94.5,116,David Devine,40.5,166,Sahba Abedian,23.3
16,67 Owen Hegarty,92.8,117,Stephen Found,40.3,167,Brian Hodges,23.1
17,68 Craig Winkler,92.3,118,Anthony Hall,39.8,168,Kirby Adams,23.0
18,69 Zimi Meka,92.1,119,Sam Hupert,39.8,169,Laurence Cox,23.0
19,70 Gillian Swaby,91.5,120,Wayne McCrae,39.8,170,Brian McNamee,22.8
20,71 Silviu Itescu,87.1,121,Tony Walls,39.7,171,Roderick Smith,22.3
21,72 Gary Cohen,87.0,122,Peter Brennan,39.4,172,Stephen Gillies,22.3
22,73 Brett Godfrey,86.5,123,Christopher Kelaher,39.3,173,Andrew Brown,21.9
23,74 Gary Perlstein,86.5,124,Nick Giorgetta,39.0,174,Roger Brown,21.9
24,75 Katie Page,84.5,125,Ronald Sayers,38.8,175,Dudley Leitch,21.8
25,76 Warwick Hemsley,84.1,126,Graeme Rowley,38.7,176,Bill Moss,21.6
26,77 Brian Boyd,83.2,127,John Elice-Flint,37.7,177,Christopher Wilks,21.5
27,78 David Clarke,78.2,128,lan Miller,36.8,178,David Liddy,21.5
28,79 Max Beck,76.4,129,Frank O'Halloran,36.4,179,Rolf Krecklenberg,21.4
29,80 Josef El-Raghy,75.2,130,lan Griffiths,36.0,180,Peter Hay,21.2
30,81 Martin Kemp,71.4,131,Michael Malone,35.6,181,Simon Baker,21.1
31,82 Anthony Podesta,71.3,132,Peter Hill,35.2,182,Geoff Lord,21.0
32,83 Ken Tregonning,67.0,133,Stephen Hill,35.2,183,Ross Neumann,21.0
33,84 Nicholas Moore,66.8,134,Con Kafataris,35.1,184,Richard Sheppard,20.7
34,85 Len Ainsworth,65.7,135,David Leckie,35.0,185,Paul Favretto,20.5
35,86 Adrian Di Marco,62.3,136,Michael Masterman,34.5,186,John Gazal,20.5
36,87 David Knappick,62.0,137,Otto Buttula,34.3,187,Hamish McDonald,20.1
37,88 Adrian De Bruin,60.8,138,Mark Lynch,34.2,188,Andrew Wood,19.8
38,89 lan Trahar,60.5,139,Matthew Slatter,33.8,189,Ron Hancock,19.6
39,90 lain Dunstan,60.4,140,Laurie Freedman,32.4,190,Peter Marriott,19.2
40,91 John McFarlane,60.4,141,Allan Moss,32.3,191,Jacob Klein,19.1
41,92 Michael Tyrrell,59.7,142,Greg Paramor,32.3,192,Richard Rijs,19.0
42,93 Spencer Young,59.6,143,Paul Naude,31.8,193,Geoff Lewis,18.7
43,94 Richard Selwood,59.3,144,Stephen Baxter,30.3,194,John Fletcher,18.5
44,95 Richard Leupen,58.4,145,Bevan Slattery,30.3,195,Harry Rosen,17.9
45,96 lan Buchhorn,53.4,146,Arthur Nacumidis,29.9,196,Peter Watson,17.8
46,97 Terry Fern,52.2,147,Richard Uechtritz,29.8,197,Rod Pearse,17.6
47,98 Matthew Bailey,51.0,148,Paul Holyoake,29.2,198,Terry Allen,17.5
48,99 Rodney Forrester,49.4,149,Simon Reynolds,29.0,199,Colin Goldschmidt,17.5
49,100 David Morgan,49.1,150,Mark Johnson,28.3,200,Alan Kindl,17.4

In [19]:
one = Part12007.copy().loc[:, 0:1]
two = Part12007.copy().loc[:, 2:4]
three = Part12007.copy().loc[:, 5:7]

In [21]:
one["Ranking"] = 0

                      0      1  Ranking
0     51 Le Neve Groves  114.6        0
1     52 Norman Seckold  108.9        0
2     53 Theodore Cheng  108.8        0
3          54 Rod Jones  108.4        0
4   55 Marcus Blackmore  103.2        0
5       56 Robert Hance  102.9        0
6         57 John Kirby   97.9        0
7       58 Robert Kirby   97.9        0
8       59 Graham Burke   97.9        0
9       60 Kim Robinson   97.3        0
10     61 Robert Topfer   97.0        0
11      62 Richard Bell   96.8        0
12        63 John Young   96.2        0
13        64 Alex Brown   95.2        0
14     65 Andrew Bassat   94.5        0
15       66 Paul Bassat   94.5        0
16      67 Owen Hegarty   92.8        0
17     68 Craig Winkler   92.3        0
18         69 Zimi Meka   92.1        0
19     70 Gillian Swaby   91.5        0
20     71 Silviu Itescu   87.1        0
21        72 Gary Cohen   87.0        0
22     73 Brett Godfrey   86.5        0
23    74 Gary Perlstein   86.5        0
24        75 Katie Page   84.5        0
25   76 Warwick Hemsley   84.1        0
26        77 Brian Boyd   83.2        0
27      78 David Clarke   78.2        0
28          79 Max Beck   76.4        0
29    80 Josef El-Raghy   75.2        0
30       81 Martin Kemp   71.4        0
31   82 Anthony Podesta   71.3        0
32    83 Ken Tregonning   67.0        0
33    84 Nicholas Moore   66.8        0
34     85 Len Ainsworth   65.7        0
35   86 Adrian Di Marco   62.3        0
36    87 David Knappick   62.0        0
37   88 Adrian De Bruin   60.8        0
38        89 lan Trahar   60.5        0
39      90 lain Dunstan   60.4        0
40    91 John McFarlane   60.4        0
41   92 Michael Tyrrell   59.7        0
42     93 Spencer Young   59.6        0
43   94 Richard Selwood   59.3        0
44    95 Richard Leupen   58.4        0
45      96 lan Buchhorn   53.4        0
46        97 Terry Fern   52.2        0
47    98 Matthew Bailey   51.0        0
48  99 Rodney Forrester   49.4        0
49     100 David Morgan   49.1        0

In [27]:
for i in one.index:
    ranks = one.loc[i,0].split(" ")
    if i == 49:
        one.loc[i,0] = one.loc[i,0][4:]
    else:
        one.loc[i,0] = one.loc[i,0][3:]
    one.loc[i, "Ranking"] = ranks[0]

In [31]:
one.columns = ["Name", "Money", "Rank"]
two.columns = ["Rank", "Name", "Money"]
three.columns = ["Rank", "Name", "Money"]

In [34]:
pd.concat([one, two, three])

                 Name  Money Rank
0      Le Neve Groves  114.6   51
1      Norman Seckold  108.9   52
2      Theodore Cheng  108.8   53
3           Rod Jones  108.4   54
4    Marcus Blackmore  103.2   55
..                ...    ...  ...
45       Peter Watson   17.8  196
46         Rod Pearse   17.6  197
47        Terry Allen   17.5  198
48  Colin Goldschmidt   17.5  199
49         Alan Kindl   17.4  200

[150 rows x 3 columns]

In [36]:
Part22007 = pd.read_csv("2007 Table 2.csv", header = None )
Part22007

     0                   1         2   3   4
0    1      Rupert Murdoch  11,474.1 NaN NaN
1    2        James Packer    4940.2 NaN NaN
2    3          Frank Lowy    3582.1 NaN NaN
3    4      Andrew Forrest    1848.1 NaN NaN
4    5         Alan Wilson    1577.7 NaN NaN
5    6        Gerry Harvey    1361.3 NaN NaN
6    7        Kerry Stokes    1059.9 NaN NaN
7    8       Terry Peabody    1056.7 NaN NaN
8    9        Greg Goodman     900.6 NaN NaN
9   10          John Grill     861.6 NaN NaN
10  11         Paul Little     707.6 NaN NaN
11  12      Mark Rowsthorn     578.5 NaN NaN
12  13        Chris Morris     559.9 NaN NaN
13  14         Jim Babcock     551.8 NaN NaN
14  15      Andrew Roberts     477.5 NaN NaN
15  16         Tim Roberts     477.5 NaN NaN
16  17         Peter Meurs     355.7 NaN NaN
17  18       Greg Hargrave     352.7 NaN NaN
18  19          Phil Green     329.8 NaN NaN
19  20       Doug Rathbone     329.6 NaN NaN
20  21          Ken Talbot     325.1 NaN NaN
21  22      Kerry Harmanis     320.6 NaN NaN
22  23        Michael King     312.0 NaN NaN
23  24          Phil Adams     308.2 NaN NaN
24  25      Edmund Bateman     269.2 NaN NaN
25  26       Graham Turner     258.5 NaN NaN
26  27       AM Moufarrige     255.6 NaN NaN
27  28           Tony Poli     237.9 NaN NaN
28  29         Graeme Wood     223.9 NaN NaN
29  30       James Fantaci     214.2 NaN NaN
30  31           David Coe     214.0 NaN NaN
31  32       Brett Pointon     202.7 NaN NaN
32  33      Peter Hofbauer     193.6 NaN NaN
33  34     Philip Sullivan     193.4 NaN NaN
34  35     Michael Maxwell     181.4 NaN NaN
35  36     Daniel Brickman     170.7 NaN NaN
36  37   Penelope Maclagan     162.6 NaN NaN
37  38       Chris Aylward     162.4 NaN NaN
38  39       John Borshoff     162.1 NaN NaN
39  40          Peter Hall     158.0 NaN NaN
40  41      Julian Tertini     153.2 NaN NaN
41  42       Peter Mattick     149.3 NaN NaN
42  43       Philip Salter     149.0 NaN NaN
43  44  Christopher Elison     137.4 NaN NaN
44  45         Jeremy Reid     135.8 NaN NaN
45  46       Barry Lambert     134.7 NaN NaN
46  47      Brian Flannery     125.7 NaN NaN
47  48       John Rothwell     119.7 NaN NaN
48  49          Greg Smith     118.7 NaN NaN
49  50         Eddy Groves     114.6 NaN NaN

In [111]:
new = Part22007.copy().loc[:, 0:2]
new.columns = ["Rank", "Name", "Money"]
final = pd.concat([new, one, two, three])
final.to_csv("Final 2007.csv", index = False)

In [112]:
Part12012 = pd.read_csv("2012 Table 1.csv", header = None )
Part22012 = pd.read_csv("2012 Table 2.csv", header = None )
Part32012 = pd.read_csv("2012 Table 3.csv", header = None )
Part42012 = pd.read_csv("2012 part 2.csv" )
new_one = Part12012.copy().loc[:, 0:2]
new_two = Part22012.copy().loc[:, 0:2]
new_three = Part32012.copy().loc[:, 0:2]
new_four = Part42012.copy().iloc[:, 0:3]

In [113]:
new_one.columns = ["Rank", "Name", "Money"]
new_two.columns = ["Rank", "Name", "Money"]
new_three.columns = ["Rank", "Name", "Money"]
new_four.columns = ["Rank", "Name", "Money"]

In [114]:
for i in new_one.index:
    new_one.loc[i, "Money"] = new_one.loc[i, "Money"].replace("$", "").replace(",", "")
for i in new_two.index:
    new_two.loc[i, "Money"] = new_two.loc[i, "Money"].replace("$", "").replace(",", "")
for i in new_three.index:
    
    try:
        new_three.loc[i, "Money"] = new_three.loc[i, "Money"].replace("$", "").replace(",", "")
    except:
        print(i)
for i in new_four.index:
    new_four.loc[i, "Money"] = new_four.loc[i, "Money"].replace("$", "").replace(",", "")

14
16
22
30
52
57

In [115]:
for i in new_three.index:
    if np.isnan(new_three.loc[i, "Rank"]):
        new_three.loc[i-1, "Name"] = new_three.loc[i-1, "Name"] + " " + new_three.loc[i, "Name"]

David Teoh & Vicky Teoh
Peter Rowsthorn & Mark Rowsthorn
Charlotte Vidor & Ervin Vidor
Bill Roche & Imelda Roche
Christina Quinn & Tony Quinn
Diana Grollo & Rino Grollo

In [123]:
new_three= new_three.dropna()

In [124]:
Final_2012 = pd.concat([new_one, new_two, new_three, new_four])

In [125]:
Final_2012["Rank"] = Final_2012["Rank"].astype(int)
Final_2012

    Rank                    Name  Money
0      1           Gina Rinehart  29170
1      2         Ivan Glasenberg   7400
2      3              Frank Lowy   6470
3      4          Andrew Forrest   5890
4      5  Anthony Pratt & family   5450
..   ...                     ...    ...
5    196           Doug Rathbone    215
6    197         Ashley Williams    215
7    198          Peter Bartlett    210
8    199            Therese Rein    210
9    200         Philip Wolanski    210

[186 rows x 3 columns]

In [131]:
Final_2012.sort_values(by=['Rank'], inplace = True)

In [132]:
Final_2012.to_csv("Final_2012.csv", index = False)